
  <img src="{{game.image}}" alt="{{game.name}}" />
  <h3>{{game.name}}</h3>
  <p>${{game.price}}</p>
  <p>
    {{game.description}} <br>
    {{game.player}} {{game.age}} {{game.difficulty}}
  </p>


<h3>Reviews</h3>
  <div class="reviewSection">
    <ul>
      {{#each game.reviews as |review|}}
        {{review-tile review=review}}
      {{/each}}
    </ul>
  </div>
